<include file="Public:top" />
<style>
    .article-abstract{
        width:460px;
        border:1px #ddd;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
            <a href="{:U('Article/index')}" title="网站首页">网站首页</a>
            <a><cite>文章专栏</cite></a>
        </blockquote>
        <div class="blog-main">
            <div class="blog-main-left">
                <foreach name="articleList" item="v">
                <div class="article shadow">
                    <div class="article-left">
                        <img src="__PUBLIC__/{$v.article_img}"  style="width: 100px;height: 100px;" alt="" />
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <a href="{:U('Article/show')}?id={$v.article_id}&name={$v.article_title}">{$v.article_title}</a>
                        </div>
                        <div class="article-abstract">
                            {$v.article_content}
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{$v.add_time|date='Y-m-d H:i:s',###}</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{$v.article_author}</span>

                        <foreach name="v['art_label']" item="n">
                        <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{$n.label_name}</a></span>
                            </foreach>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{$v.like_hits}</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{$v.article_start}</span>
                    </div>
                </div>
           </foreach>
            </div>
            <div class="blog-main-right">
                <div class="blog-search">
                    <form class="layui-form" action="{:U('Article/index')}" method="get">
                        <div class="layui-form-item">
                            <div class="search-keywords  shadow">
                                <input type="text" name="search" placeholder="输入关键词搜索" autocomplete="off" class="layui-input">
                            </div>
                            <div class="search-submit  shadow">
                                <a class="search-btn" lay-submit="formSearch" lay-filter="formSearch">
                                    <input type="submit" value="搜搜" style="width: 43px;height: 35px"/></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="article-category shadow">
                    <div class="article-category-title">分类导航</div>
                    <foreach name="classify" item="v">
                    <a href="{:U('Article/index')}?id={$v.classify_id}">{$v.classify_name}</a>
                    </foreach>
                    <div class="clear"></div>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">作者推荐</div>
                    <ul class="fa-ul blog-module-ul">
                        <foreach name="tiList" item="v">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{:U('Article/show')}?id={$v.article_id}&name={$v.article_title}">{$v.article_title}</a></li>
                        </foreach>

                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">随便看看</div>
                    <ul class="fa-ul blog-module-ul">
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC制作404跳转（非302和200）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（三）（JS篇）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">写了个Win10风格快捷菜单！</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">常用正则表达式</a></li>
                    </ul>
                </div>
                <!--右边悬浮 平板或手机设备显示-->
                <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<include file="Public:bottom" />